@font-face {
  font-family: "themify";
  src: local("themify"), url(./assets/vendor/fonts/themify-icons/fonts/themify.woff) format("woff");
}
/* @font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/MyFont.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' } 
*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
